.flex-center{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;

}
.form-container{
    max-width:70%;
    margin: 0 auto;

}

.container {
    margin: 5% 5%
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-mdc-card {
    margin-bottom:50px
}

.indent {
    margin: 3%
}
.complete-card {
     color: var(--black)!important;
     background: var(--white) !important;
}