<div class="container flex-center">
  <div>
    <div>
      <h1>Thanks helping us with SideWays! </h1>
      <h1>Please let us know if you had any issues an help us tighten this beast up</h1>
  <br>
      <div class="form-container">
        <app-feedback></app-feedback>
      </div>
    </div>
    <div>
      <h3> Thanks so much for your help as we move forward.
        <br>
        and if you go the time <a routerLink="">Do it again!</a>
      </h3>

    </div>

    <div>
      <button (click)="downloadPDF()">Download PDF</button>
    </div>
  </div>
</div>
