<div>
    <h1>Thanks helping us with SideWays! </h1>
    <h1>Please hit us up at <a  style="color:red" href="mailto:sidewaystesters@gmail.com">sideWaysHelp@gmail.com</a> with any issues you encountered.</h1>
    <h1>It would help us greatly if you could include
        <ul>
            <li>
                The original PDF pages
            </li>
            <li>
                The created pages
            </li>
            <li>
                What broweser you used.
            </li>
        </ul>
    </h1>
    <br>
   
    <h3> Thanks so much for your help as we move forward.  
        <br>
        and if you go tthe time <a routerLink="">Do it again!</a>
    </h3>
    
</div>
<div>
    <button (click)="downloadPDF()">Download PDF</button>
</div>
