<div class="container flex-center">
  <div>
    <h1>Processing complete on {{name}} </h1>
    <mat-card appearance="outlined">
      <mat-card-header>
        <div>
          <h2>Thanks helping us with SideWays! </h2>
          <h2>Please let us know if you had any issues and help us tighten this beast up.</h2>
          <br>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="form-container">
          <app-feedback [title] = this.name></app-feedback>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div>
        <h4 class = "indent"> Thanks so much for your help as we move forward.
          <br>
          and if you go the time <a routerLink="">Do it again!</a>
          </h4>
        </div>
      </mat-card-footer>
    </mat-card>
    <div>
      <button mat-raised-button color="primary" (click)="downloadPDF()"> {{ name }} </button>
    </div>
  </div>
</div>







