.fade-in {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  

@media (max-width: 480px) {
   div h2 {
        font-size: 2rem;
    }

}


  