
<div class="form-group">
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
   <h3> Title: {{this.title}} {{date | date: "short"}} </h3>
   <div>
     <label for="category">Category</label>
     <br>
     <select class="form-control" name="category" id="category" required [(ngModel)]="currentTicket.category">
       <option *ngFor="let cat of categories"  [ngValue]="cat">{{ cat }}</option>
     </select>
     <br>
    </div>
    <div>
      <label for="">Description</label>
      <br>
      <textarea class="form-control"  required id="text" required [(ngModel)]="currentTicket.text" placeholder="Describe any issues" name="text"></textarea>
      <button mat-raised-button color="primary-light" type="submit" [disabled]="feedbackForm.form.pristine || !feedbackForm.valid">Submit</button>
    </div>
  </form>
</div>
