
<div class="form-group">
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
   Title: {{this.title}} {{date | date: "short"}}
   <div>
     <label for="category">Category</label>
     <br>
     <select class="form-control" name="category" id="category" required [(ngModel)]="model.category">
       <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
     </select>
     <br>
     <button type="submit" class="btn btn-success" [disabled]="!feedbackForm.form.valid">Submit</button>
   </div>
    <div>
      <label for="">Description</label>
      <br>
      <textarea class="form-control" id="text" required [(ngModel)]="model.text" placeholder="Describe any issues" name="text"></textarea>
    </div>
  </form>
</div>
