<div class="form-group">
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
    <h3> Title: {{this.title}} {{date | date: "short"}} </h3>
    <div class ="form-fields">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select  class="form-control" name="category" id="category" required [(ngModel)]="currentTicket.category">
          <mat-option *ngFor="let cat of categories" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Describe any issues</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          class="form-control"
          required id="text"
          required [(ngModel)]="currentTicket.text"
           name="text"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary-light" type="submit"
      [disabled]="feedbackForm.form.pristine || !feedbackForm.valid">Submit</button>
  </form>
</div>
