.about-card {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust the column widths as needed */
    gap: 0; /* Adjust the gap between grid items */
}

.image-wrapper {
    height: 66vh; /* Set the height of the image wrapper to roughly 2/3 of the viewport height */
}

.image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.accent-bg {
    position: relative;
    display: inline-block;
  }
  
  .accent-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px; 
    bottom: 0;
    z-index: -1;
    background: var(--orange);
    transform: rotate(-25deg); 
    transform-origin: top left;
  }
  

@media (min-width: 1000px) {
    .about-card {
        grid-template-columns: 1fr 1fr; /* Display side by side on large screens */
    }
}