.about-card {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust the column widths as needed */
    gap: 0; /* Adjust the gap between grid items */
}

.image-wrapper {
    height: 66vh; /* Set the height of the image wrapper to roughly 2/3 of the viewport height */
}

.image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media (min-width: 1000px) {
    .about-card {
        grid-template-columns: 1fr 1fr; /* Display side by side on large screens */
    }
}