.main{
    min-height: 100vh;
    height: auto;
    text-align: center;
    overflow: visible;
}
.white-logo{
    background-image: url("../../../assets/icons/logoFlatWhite.png");
    background-size: contain;
    background-repeat:no-repeat;
    margin:0 auto;
}
.main-container {
    display:flex;
    flex-direction: column-reverse;
    min-height: auto;
    height: auto;
}
@media screen and (min-width: 1200px) {
    .main-container {
        flex-direction: row;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .white-logo{
        display:none
    }
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: var(--sw-bg);
}

/* Ensure child components can grow */
app-dashboard-right {
    flex-direction: column;
    height: auto;
    overflow: hidden;
    background-color: var(--sw-bg);
    margin-bottom: 1rem;
    min-height: 1200px;
}
