.main{
    min-height: 100vh;
    height: auto;
    text-align: center;
    /* background: var(--white); */
    /* text-shadow: 1px 1px black; */
    overflow: visible;
    
}
.white-logo{
    background-image: url("../../../assets/icons/logoFlatWhite.png");
    background-size: contain;
    background-repeat:no-repeat;

    margin:0 auto;
    /* height:250px;
    width:250px; */
}
.main-container {
    display:flex;
    flex-direction: column-reverse;
    min-height: auto;
    height: auto;
}
@media screen and (min-width: 1200px) {
    .main-container {
        flex-direction: row;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .white-logo{
        display:none
    }
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

/* Ensure child components can grow */
app-dashboard-right {
   
        flex-direction: column;
        height: auto;
        overflow: hidden;
        background-color: #f9fafb;
        margin-bottom: 1rem;
}


