
  <div class="navbar red">
    <h3 class="nav-item left logo">SIDES-WAYS</h3>
    <ul class="nav-links right">
      <li *ngFor="let option of options; let i = index" class="right nav-item">
        <button mat-flat-button color="primary-light" class="right" id="{{option.text}}" (click)="toggleHidden($event.target.id)"
          routerLink="{{option.text}}">{{option.text.toUpperCase()}}</button>
      </li>
      <div *ngIf="this.auth.userData" class="right nav-item">
      <label>
        {{this.auth.userData.email}}
      </label>
      <button mat-raised-button color="warn" *ngIf="this.auth.userData" class="right nav-item" (click)="this.auth.SignOut()">sign out
      </button>
      </div>
    </ul>
  </div>

