
  <div class="navbar red">
    <h3 class="nav-item left logo">SIDES-WAYS</h3>
    <ul class="nav-links right">
      <li *ngFor="let option of options; let i = index" class="right nav-item">
        <button mat-flat-button color="primary-light" class="right" id="{{option.text}}" (click)="toggleHidden($event.target.id)"
          routerLink="{{option.text}}">{{option.text.toUpperCase()}}</button>
      </li>
      <ng-container *ngIf="(token.getCountdown() | async) as countdown">
        <!-- Display the countdown value -->
        <div class="right nav-item">Deleting your IP in : {{ countdown }}  </div>
      </ng-container>
    </ul>
  </div>
