<div *ngIf="error">
  <h3>Soemthing went wrong</h3>
  {{ data }}
</div>
<!-- this whole component is deprecated -->

  <div *ngIf='
  !waitingForScript &&
  !awaitingData'>
    <ul>
      <h3>Selected Scenes:</h3>
      <li *ngFor="let text of data.selected" style="list-style-type:none;">{{text.scenenumber}} {{text.text}} </li>
    </ul>
    <div><h3>Callsheet: {{this.upload.coverSheet.name}}</h3></div>
    <div *ngIf = "callsheetReady">
      <h2>Total:$5</h2>
    </div>
  </div>


  <div class="button-wrapper">

    <button class="close-button" (click)="dialogRef.close({selected:this.selected, callsheet:this.callsheet})">Get My
      Sides</button>
  </div>
  <div *ngIf="waitingForScript">
    <h1>BRB</h1>
    <mat-progress-spinner style="display:none" mode="indeterminate" value="0"></mat-progress-spinner>
    <h3 class="spinner-text">Processing Script</h3>
    <div class="loading-image spin-image">
      <img class="spinning-bot" src="../../assets/icons/robotWhite.png">
    </div>
    <h2>Getting Sides</h2>
  </div>
 


