<div *ngIf="error">
  <h3>Soemthing went wrong</h3>
  {{ data }}
</div>
<!-- this whole component is deprecated -->
<div class="modal red">
 <div class="" *ngIf=" !waitingForScript && !awaitingData  && !callsheetReady && !error ">
    <h2>Add a call sheet?</h2>
    <form #callSheet name="callSheet" id="callSheet">
      <input enctype="multipart/form-data" type="file"  accept="application/pdf" (change)="handleFileInput($event.target.files)">
      <button (click)="handleFileInput('no callsheet')" >No thanks</button>
      <!-- <button (click)="handleFileInput('no callsheet')">No callsheet</button> -->
    </form>
  </div>
  <div *ngIf='
  !waitingForScript &&
  !awaitingData'>
    <ul>
      <h3>Selected Scenes:</h3>
      <li *ngFor="let text of data.selected" style="list-style-type:none;">{{text.scenenumber}} {{text.text}} </li>
    </ul>
  </div>
  <div *ngIf= "
        !waitingForScript &&
        !awaitingData &&
        callsheetReady &&
        !this.auth.userData"
        class="button-wrapper">
    <h1>Sign in to continue</h1>
    <p>We know.  Tracking sucks.  But while we develop we need to track our users and while SidesWays is free we need you to log in.  Sign in below with a google account to continue.</p>

    <button class="close-button" (click)="googleSignIn()"><i class="fa-brands fa-google"></i>Log in with google
    </button>
  </div>
  <div *ngIf= "
    !waitingForScript &&
    !awaitingData &&
    callsheetReady
    "
    class="button-wrapper">

    <button class="close-button" (click)="dialogRef.close({selected:this.selected, callsheet:this.callsheet})">Get My
      Sides</button>
  </div>
  <div *ngIf="waitingForScript">
    <h1>BRB</h1>
    <mat-progress-spinner style="display:none" mode="indeterminate" value="0"></mat-progress-spinner>
    <h3 class="spinner-text">Processing Script</h3>
    <div class="loading-image spin-image">
      <img class="spinning-bot" src="../../assets/icons/robotWhite.png">
    </div>
    <h2>Getting Sides</h2>
  </div>
  <div *ngIf="awaitingData && selectionMade">
    Processing Call sheet
    <mat-progress-spinner mode="indeterminate" value="500"></mat-progress-spinner>
  </div>
</div>

