.about-container{
    padding:5% 5%
}
.image-right{
    text-align: end;
   padding-right: 10%;
}
.image-left{
    text-align: left;
    padding-left: 10%;
}
.container{
    padding:5%
}
.left{
    padding-left:10%
}
.right {
    padding-right:10%
}
p{
    padding: 7% 8% 5% 5%;

}
.half-width{
    width:45%;
    display: inline-block;
    margin-left:5%
}
.mobile-image{
    display:none;
}
.mobile {
    display:none;
}
.desktop{
    display:block;
}
.bottom{
    padding: 0 10%;
}
.indent {
    margin: 20px 20px
}
@media only screen and (max-width: 769px){
    .mobile{
        display:block;
    }
    .desktop{
        display:none;
    }
    .two-column{
        grid-template-columns: 1fr;
    }
    .image-left, .image-right {
        display:none;
    }
    .mobile-image{
        height:225px;
        padding:5%;
        width: auto;
        display:inline-block;
    }
    .left, .right {
    padding:0%;
    }
    p{
    padding:0
    }
    .bottom{
        padding: none;
    }
}
