<div class="container red">
  <div class="left two-column">
    <div>
      <div class="half-width">
        <p>
          {{blurbs[0].text}}
        </p>
      </div>
      <div class="half-width">
        <p>
          {{blurbs[1].text}}
        </p>
      </div>
    </div>
    <div class="mobile-images">
      <div>
        <img class="mobile-image" style="max-width: 40%" src="../../assets/icons/ScottHea.jpg">
        <img class="mobile-image" style="max-width: 40%" src="../../assets/icons/timHead.jpg">
      </div>
    </div>
    <div>
      <p>
        {{blurbs[2].text}}
      </p>
    </div>
    <div>
      <p>
        {{blurbs[3].text}}
      </p>
    </div>
    <div class="image-left">
      <div>
        <img style="max-width: 40%" src="../../assets/icons/ScottHea.jpg">
      </div>
    </div>
  </div>
  <div class="right two-column">
    <div class="image-right">
      <div>
        <img style="max-width: 40%" src="../../assets/icons/timHead.jpg">
      </div>
    </div>
  </div>
  <div>
    <p>
      {{blurbs[4].text}}
    </p>
  </div>
</div>
