.nav-item{
    font-size: 12px;
    display:inline;
    cursor: pointer;
}
.logo{
    font-size:1.8em;
    width: 20%;
}
.nav-title{
    font-size:2em;
    font-weight: 900;
}
.nav-links{
    list-style-type: none;
    margin:0;
    padding:10px;  
    display: inline;
    align-content: end;

}

.navbar{
    height: 10%;
    width: 90%;
    padding: 1.5% 2.5% 0.0% 2.5%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid;
}
.nav-links{
    width:100%
}
li, a{
    padding:.3% 2%;
    font-size:1.5em;
    color:var(--white);

}

    
.contact{
    border:1px solid blue;
    padding:1%
}
