<div class="navbar red">
  <h3 class="nav-item left logo">SIDES-WAYS</h3>
  {{this.auth.userData ? this.auth.userData.email : 'not logged in'}} 
  <ul class="nav-links right">
    <li *ngFor="let option of options; let i = index" class="right nav-item">
      <a class="right" id="{{option.text}}" (click)="toggleHidden($event.target.id)"
        routerLink="{{option.text}}">{{option.text}} </a>
    </li>
    <li *ngIf="this.auth.userData" class="right nav-item">{{this.auth.userData.email}}
    </li>
    <button *ngIf="this.auth.userData" class="right nav-item" (click)="this.auth.SignOut()">sign out
    </button>



  </ul>
</div>