<div class="flex flex-col justify-center items-center w-full space-y-4">
  <form class="space-y-4 w-full">

    <div>
      <button
        type="button"
        class="btn-sw btn-sw-primary btn-sw-block"
        (click)="emitValue()"
      >
        Update Watermark
      </button>
    </div>

    <div *ngIf="hasWatermark">
      <button
        type="button"
        class="btn-sw btn-sw-ghost btn-sw-block"
        (click)="removeWatermark()"
      >
        Remove Watermark
      </button>
    </div>
    <div>
      <label for="watermark" class="block text-sm font-medium text-gray-700"></label>
      <div class="mt-1">
        <input
          class="sw-input"
          type="text"
          id="watermark"
          name="watermark"
          [(ngModel)]="waterMark"
          [ngModelOptions]="{standalone: true}"
        >
      </div>
    </div>
  </form>
</div>
