
<!-- The rest of your existing page content -->
<main class="last-looks-container">
    <div class="page shadow-lg border" (click)="showContextMenu && closeContextMenu()">
        <div class="break">
            <ul class="screenbox" [ngClass]="{ 'edit-mode': canEditDocument }">
                <!-- [attr.contenteditable]="canEditDocument ? 'true' : 'false'" this line will activate easy edit - -->

                <ng-container *ngFor="let line of page; let lineIndex = index">
                    <span class="watermark">{{ line.watermarkText }}</span>
                    <span class="draft-text">{{ line.draftText }}</span>

                    <!-- page number span -->
                    <span class="draft-color-text true">
                        {{ line.draftColorText }}
                    </span>
                    <li *ngIf="line.category === 'page-number'" 
                        class="page-number-text {{line.visible}}"
                        [style.bottom]="line.calculatedYpos"
                        [style.right]="line.calculatedXpos">
                        {{line.text}}
                    </li>

                    <!-- scene number span -->
                    <span *ngIf="line.category === 'scene-header'"
                        [class]="'scene-number-left ' + line.trueScene + ' ' + line.visible"
                        [attr.contenteditable]="editingSceneNumber === line.sceneNumberText ? 'true' : 'false'"
                        (dblclick)="canEditDocument && startEditingSceneNumber(line)"
                        (blur)="saveSceneNumberEdit(line)"
                        (keydown)="handleSceneNumberKeyDown($event)"
                        [style.bottom]="line.calculatedYpos" [style.left]="line.calculatedXpos">
                        {{ line.sceneNumberText }}
                    </span>

                    <!-- Always rendered span with text and style -->
                    <span *ngIf="line.category !== 'page-number' && line.category !== 'page-number-hidden' && line.category !== 'injected-break'"
                        [attr.data-line-id]="line.id" [class]="(line.bar ? line.bar : 'hideBar')"
                        [style.bottom]="line.calculatedYpos"
                        cdkDrag
                        [cdkDragDisabled]="!canEditDocument"
                        (cdkDragStarted)="onStartSpanDragStarted($event, line)"
                        (cdkDragMoved)="onStartSpanDragMoved($event, line)"
                        (cdkDragEnded)="onStartSpanDragEnded($event, line, lineIndex)">
                        <span class="bar-text" 
                            [style.left.px]="line.startTextOffset || 10"
                            [style.transform]="'translateX(' + (line.startTextOffset || 0) + 'px)'"
                            (mousedown)="canEditDocument && startBarTextDrag($event, line, 'start')"
                            (dblclick)="canEditDocument && onBarTextDoubleClick($event, line, 'start')">
                            <ng-container *ngIf="barTextEditingId !== line.index || barTextEditingType !== 'start'; else editStartText">
                                {{ line.customStartText || ('START ' + line.sceneNumberText) }}
                            </ng-container>
                            <ng-template #editStartText>
                                <span 
                                    id="bar-text-edit-{{line.index}}-start"
                                    contenteditable="true"
                                    (input)="onBarTextChange($event, line)"
                                    (keydown)="handleBarTextKeyDown($event)"
                                    (blur)="saveBarTextEdit()">
                                    {{ barTextEditingContent }}
                                </span>
                            </ng-template>
                        </span>
                    </span>

                    <!-- Conditionally render li element with drag functionality -->
                    <ng-container *ngIf="canEditDocument; else nonEditable">
                        <li id="{{ line.index }}" 
                            cdkDrag
                            [cdkDragDisabled]="!canEditDocument"
                            (cdkDragStarted)="onDragStarted($event, line)"
                            (cdkDragMoved)="onDragMoved($event, line)"
                            (cdkDragEnded)="onDragEnded($event, line, lineIndex)"
                            [value]="line.sceneNumber"
                            [class]="line.category + ' ' + line.visible + ' ' + line.hidden"
                            [class.selected-line]="canEditDocument && isLineSelected(line)"
                            [class.multi-selected]="canEditDocument && selectedLineIds.length > 1 && isLineSelected(line)"
                            [class.editing]="editingLine === lineIndex"
                            [class.crossed-out]="line.crossedOut"
                            [ngClass]="{ 'edit-li': canEditDocument }"
                            (click)="canEditDocument && selectLine(line, $event)"
                            (dblclick)="canEditDocument && onDoubleClick(lineIndex, line.text)"
                            [style.bottom]="line.calculatedYpos" 
                            [style.left]="line.calculatedXpos"
                            [attr.contenteditable]="editingLine === lineIndex ? 'true' : 'false'"
                            [style.background-color]="editingLine === lineIndex ? 'orange' : 'transparent'"
                            (blur)="editingLine === lineIndex && saveEdit()"
                            (keydown)="handleKeyDown($event, line, lineIndex)"
                            (input)="editingLine === lineIndex && onEditTextChange($event.target.textContent)"
                            [textContent]="line.text"
                            (contextmenu)="canEditDocument && openContextMenu($event, line, lineIndex)">
                        </li>
                    </ng-container>
                    <ng-template #nonEditable>
                        <li id="{{ line.index }}" 
                            [value]="line.sceneNumber"
                            [class]="line.category + ' ' + line.visible + ' ' + line.hidden"
                            [class.selected-line]="isSelectedLine(line, lineIndex)"
                            [style.bottom]="line.calculatedYpos"
                            [style.left]="line.calculatedXpos" 
                            [textContent]="line.text">
                        </li>
                    </ng-template>

                    <!-- revision asterisks -->
                    <span [class]="line.isRevision + ' hidden'" [style.bottom]="line.calculatedYpos">
                        *
                    </span>

                    <!-- continue-top span (at the top of the page) -->
                    <span *ngIf="line.cont === 'CONTINUE-TOP'" 
                        class="bar-span continue-top-span CONTINUE-TOP {{line.hidden}}"
                        [style.bottom]="line.calculatedBarY"
                        [attr.data-line-id]="line.id"
                        cdkDrag
                        cdkDragBoundary=".page"
                        [cdkDragDisabled]="!canEditDocument"
                        (cdkDragStarted)="onContinueTopSpanDragStarted($event, line)"
                        (cdkDragMoved)="onContinueTopSpanDragMoved($event, line)"
                        (cdkDragEnded)="onContinueTopSpanDragEnded($event, line, lineIndex)">
                        <span class="bar-text" 
                            [style.left.px]="line.continueTopTextOffset || 10"
                            [style.transform]="'translateX(' + (line.continueTopTextOffset || 0) + 'px)'"
                            (mousedown)="canEditDocument && startBarTextDrag($event, line, 'continue-top')"
                            (dblclick)="canEditDocument && onBarTextDoubleClick($event, line, 'continue-top')">
                            <ng-container *ngIf="barTextEditingId !== line.index || barTextEditingType !== 'continue-top'; else editContinueTopText">
                                {{ line.customContinueTopText || ('↓↓↓ ' + line.sceneNumberText + ' CONTINUED ↓↓↓') }}
                            </ng-container>
                            <ng-template #editContinueTopText>
                                <span 
                                    id="bar-text-edit-{{line.index}}-continue-top"
                                    contenteditable="true"
                                    (input)="onBarTextChange($event, line)"
                                    (keydown)="handleBarTextKeyDown($event)"
                                    (blur)="saveBarTextEdit()">
                                    {{ barTextEditingContent }}
                                </span>
                            </ng-template>
                        </span>
                    </span>

                    <!-- continue spans (at the bottom of the page) -->
                    <span *ngIf="line.cont === 'CONTINUE'"
                        class="bar-span continue-span CONTINUE {{line.hidden}}"
                        [style.bottom]="line.calculatedBarY"
                        [attr.data-line-id]="line.id"
                        cdkDrag
                        [cdkDragDisabled]="!canEditDocument"
                        (cdkDragStarted)="onContinueSpanDragStarted($event, line)"
                        (cdkDragMoved)="onContinueSpanDragMoved($event, line)"
                        (cdkDragEnded)="onContinueSpanDragEnded($event, line, lineIndex)">
                        <span class="bar-text" 
                            [style.right.px]="line.continueTextOffset || 10"
                            [style.transform]="'translateX(' + (line.continueTextOffset || 0) + 'px)'"
                            (mousedown)="canEditDocument && startBarTextDrag($event, line, 'continue')"
                            (dblclick)="canEditDocument && onBarTextDoubleClick($event, line, 'continue')">
                            <ng-container *ngIf="barTextEditingId !== line.index || barTextEditingType !== 'continue'; else editContinueText">
                                {{ line.customContinueText || ('↓↓↓ ' + line.sceneNumberText + ' CONTINUED ↓↓↓') }}
                            </ng-container>
                            <ng-template #editContinueText>
                                <span 
                                    id="bar-text-edit-{{line.index}}-continue"
                                    contenteditable="true"
                                    (input)="onBarTextChange($event, line)"
                                    (keydown)="handleBarTextKeyDown($event)"
                                    (blur)="saveBarTextEdit()">
                                    {{ barTextEditingContent }}
                                </span>
                            </ng-template>
                        </span>
                    </span>

                    <!-- end span -->
                    <span class="bar-span" [attr.data-line-id]="line.id"
                        [class]="(line.end === 'END' ? 'END' : 'hideEnd') + ' ' + line.hidden"
                        [style.bottom]="line.calculatedEnd"
                        cdkDrag
                        [cdkDragDisabled]="!canEditDocument"
                        (cdkDragStarted)="onEndSpanDragStarted($event, line)"
                        (cdkDragMoved)="onEndSpanDragMoved($event, line)"
                        (cdkDragEnded)="onEndSpanDragEnded($event, line, lineIndex)">
                        <span class="bar-text" 
                            [style.left.px]="line.endTextOffset || 10"
                            [style.transform]="'translateX(' + (line.endTextOffset || 0) + 'px)'"
                            (mousedown)="canEditDocument && startBarTextDrag($event, line, 'end')"
                            (dblclick)="canEditDocument && onBarTextDoubleClick($event, line, 'end')">
                            <ng-container *ngIf="barTextEditingId !== line.index || barTextEditingType !== 'end'; else editEndText">
                                {{ line.customEndText || ('END ' + line.sceneNumberText) }} 
                            </ng-container>
                            <ng-template #editEndText>
                                <span 
                                    id="bar-text-edit-{{line.index}}-end"
                                    contenteditable="true"
                                    (input)="onBarTextChange($event, line)"
                                    (keydown)="handleBarTextKeyDown($event)"
                                    (blur)="saveBarTextEdit()">
                                    {{ barTextEditingContent }}
                                </span>
                            </ng-template>
                        </span>
                    </span>

                    <!-- right scene number span -->
                    <span *ngIf="line.category === 'scene-header'"
                        class="scene-number-right {{ line.trueScene }} {{ line.visible }}"
                        [attr.contenteditable]="editingSceneNumber === line.sceneNumberText ? 'true' : 'false'"
                        (dblclick)="canEditDocument && startEditingSceneNumber(line)"
                        (blur)="saveSceneNumberEdit(line)"
                        (keydown)="handleSceneNumberKeyDown($event)"
                        [style.bottom]="line.calculatedYpos" [style.right]="line.calculatedXPos">
                        {{ line.sceneNumberText }}
                    </span>

                    <!-- Hide any duplicate page numbers -->
                    <li *ngIf="line.category === 'page-number-hidden'" 
                        class="page-number-hidden"
                        style="display: none !important;">
                        {{line.text}}
                    </li>
                </ng-container>
            </ul>
            <li class="footer">made by Sides-Ways</li>
        </div>
    </div>

    <!-- Enhanced context menu with category presets -->
    <div *ngIf="showContextMenu" class="context-menu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y">
        <ul>
            <li *ngFor="let choice of categoryPresets" 
                (click)="changeLineCategory($event, choice.category, choice.xPos, selectedLine, selectedLineIndex)"
                class="classification-option">
                {{ choice.label }}
            </li>
            <li (click)="changeLineCategory($event, 'hidden', '', selectedLine, selectedLineIndex)" 
                class="classification-option text-red-500">
                Delete
            </li>
        </ul>
    </div>

    <!-- Add a click handler to the page container to clear selection when clicking outside -->
    <div class="page-background" (click)="clearSelection()">
        <!-- Your existing page content -->
    </div>
</main>
