<div class="admin-main-container">
  <mat-card appearance="outlined" class = "admin-main-card">
    <div class = "admin-main-card-body">
      <h1 class="admin-main-card-h1">{{ selected.title}}</h1>
      <h2 class="admin-main-card-h2">{{selected.date| date:"medium"}}</h2>
      <p class="admin-main--card-p">{{ selected.text}}</p>
    </div>
    <mat-card-actions>
      <textarea (input)="updatedText = $event.target.value"></textarea>

      <button (click)="updateSelectedTicket(true)">Respond To Ticket</button>
      <button (click)="deleteSelectedTicket(selected)">Delete Ticket</button>
    </mat-card-actions>
  </mat-card>
</div>




