.not-handled {

}
.admin-side-container{
  overflow: scroll;
}

.admin-main-container {
  display:flex;
}
.admin-main-card-h1 {
  font-size:31px
}
.admin-main-card {
  height: 90%;
  max-width:500px;
  background-color: inherit !important;
  text-align: left;
  overflow: wrap;
  padding: 0 5%;
}
.admin-main-card-body {
    color:black;
    padding: 2%;
    height: 75%;
}
h1 {
  overflow:hidden
}
