.admin-container {
  display:grid;
  grid-template-columns: 2fr 1fr;
  padding:2.5%;
  height:80vh;
}

.main-container{
  padding:20px 20px
}

.side-bar-container{


  width:100%;
  overflow: scroll;
  padding:10px 10px
}
