<main class="last-looks-container">
  <div class="pagination-controls">
    <span>Page {{ currentPageIndex + 1 }} / {{ pages.length }}</span>
    <button mat-raised-button color="warn" (click)="nextPage()"
      [disabled]="currentPageIndex === pages.length - 1">Next</button>
    <button mat-raised-button color="warn" (click)="previousPage()"
      [disabled]="currentPageIndex === pages.length - 1">Previous</button>
  </div>
  <div class="page-container">

    <app-last-looks-page 
    [page]="currentPage" 
    (functionNullified)="handleFunctionNullified()"
    [canEditDocument]="canEditDocument"
     >
    </app-last-looks-page>
    <aside class="controls-container">
      <button mat-raised-button color="warn" (click)="getPDF()">GET MY SIDES</button>
      <div class="edit-controls-container">
        <button mat-raised-button color="warn" (click)="toggleEditMode()">Edit Sides</button>
      </div>
    </aside>
  </div>

</main>