<main class="last-looks-container two-column">
    <div class="page-container">
      <app-last-looks-page 
        [page]="currentPage" 
        [selectedFunction] = selectedEditFunction
        [editPdfOptions] = editPdfOptions
        (functionNullified)="handleFunctionNullified()"
         ></app-last-looks-page>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPageIndex === 0">Previous</button>
      <span>{{ currentPageIndex + 1 }} / {{ pages.length }}</span>
      <button (click)="nextPage()" [disabled]="currentPageIndex === pages.length - 1">Next</button>
      <button (click)="previousPage()" [disabled]="currentPageIndex === pages.length - 1">Previous</button>
      <div *ngIf="selectedEditFunction === 'editText'">
        selected line text: <input [(ngModel)]="selectedLine.text" (blur)="handleFunctionNullified()" />
      </div>
      <div class="edit-controls-container">
        <h4>{{this.selectedEditFunction}}</h4>
        <button (click)="selectEditFunction($event)" value="toggleVisibility">MakeVisible</button>
        <button (click)="selectEditFunction($event)" value="adjustY">Adjust Vertical</button>
      </div>
    </div>
  </main>