li{
    list-style-type: none;
}

.dash-container {
  display: flex;
  flex-direction: row;
}
.cell{
    padding: 0 5% 1% 5%;
}
tr, th{
  text-shadow: white 1px 1px;
  font-weight:600 !important;
  font-size:1.1rem;
  overflow-x: hidden;
}

.mat-mdc-form-field{
  color:black
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.table-container {
  overflow: auto;
  max-height:70vh;

}

table {
  width:100%;
}
@media screen and (max-width:1200px) {
  .dash-container {
    flex-direction: column-reverse;;
  }
}
  @media screen and (max-width: 768px) {
  .mat-mdc-cell{
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    text-align: left;
    width:10px;
   }
   .dash-containerr{
    border: 5px solid orange;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
  .cell {
    width:95%;
    margin: 0 auto;
    padding: 0;

  }
  .main{
    width:90%
  }
   .table-preview, .table-page-num{
     display: none;
   }
   .table-scene-header{
     max-width: 196px;
   }
   .mat-mdc-paginator{
     max-width: 380px;
   }
}

