
<div [@fadeInOut] class="text-white">
  <div class="flex flex-col-reverse lg:flex-row justify-around">
    <ng-container *ngIf="!lastLooksReady; else lastLooks">
      <div class="data-feed cell">
        <div class="mat-elevation-z8 table-container">
          <h2> {{ script }} scenes</h2>
          <mat-form-field style="width:100%">
            <mat-label>Search </mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search your scenes here" #input color="accent">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="number">
              <th class="table-scene-num" mat-header-cell *matHeaderCellDef mat-sort-header sticky> Scene Number </th>
              <td class="table-scene-num" mat-cell *matCellDef="let scene; let i=index"> {{scene.sceneNumberText}} </td>
            </ng-container>
            <ng-container matColumnDef="page number">
              <th class="table-page-num" mat-header-cell *matHeaderCellDef mat-sort-header sticky> Page Number </th>
              <td class="table-page-num" mat-cell *matCellDef="let scene; let i=index"> {{scene.pageNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="text">
              <th class="table-scene-header" mat-header-cell *matHeaderCellDef mat-sort-header sticky> Scene Header
              </th>
              <td class="table-scene-header" mat-cell *matCellDef="let scene"> {{scene.text}} </td>
            </ng-container>
            <ng-container matColumnDef="preview">
              <th class="table-preview" mat-header-cell *matHeaderCellDef mat-sort-header sticky> Text </th>
              <td class="table-preview" mat-cell *matCellDef="let scene"> {{scene.preview}} </td>
            </ng-container>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
              <td mat-cell *matCellDef="let scene; let i=index">
                <input type="checkbox" name={{i+1}} (change)="toggleSelected($event, scene)"
                  [attr.disabled]="active === false ? 'disabled' : null">
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 100]"></mat-paginator>

        </div>
      </div>

    </ng-container>
    <!-- Render app-last-looks component with selected value -->
    <div class="flex flex-col items-center">
      <h1 class=" text-3xl">Generating sides for
        <br>
        <p class="pt-4">{{ script }} - {{ date | date }}</p>
      </h1>
      <div class="selected-container">
        <ng-container>
          <ul>
            <ng-container>
              @if (watermark) {
                <li>
                  <pre> watermark: {{this.watermark}}</pre>
                </li>
              }
              @if (callsheetState) {
                <div>
                  <li>Calllsheet: {{ callsheet }}</li>
                </div>
              }
              <li class="p-2" *ngFor="let scene of selected">
                <pre>{{scene.sceneNumberText}}     {{scene.text}}     {{scene.sceneNumberText}}</pre>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </div>
      <div class="controls-container">
        <ng-container *ngIf="!lastLooksReady; else lastLooksControls">
          <div>
            <button mat-raised-button color="warn" (click)="toggleLastLooks()"
              [disabled]="selected.length === 0">getPDF</button>
          </div>
        </ng-container>
  
        <ng-template #lastLooksControls>
          <div class="flex flex-row justify-around border border-blue">
            <div class="p-4">
            <h2> Edit sides </h2>
              <button mat-raised-button  color="warn" (click)="toggleEditStateInLastLooks()" class="bg-accent p-4">Edit
                Pdf</button>
            </div>
            <div class="p-4">
              <app-add-watermark (waterMarkUpdate)="addWaterMark($event)"></app-add-watermark>
            </div>
            <div class="p-4">
              <app-add-callsheet (callsheetInfo)="handleCallSheetUpload($event)"></app-add-callsheet>
            </div>
            
          </div>
          <div class="m-4">
            <h2>Total: $5.00</h2>
            <button mat-raised-button color="warn" (click)="openConfirmPurchaseDialog()">Proceed To Checkout</button>
          </div>
        </ng-template>
      </div>
      @if (editLastLooksState) {
        <ng-container>
          <div class="flex flex-row w-full">
            <app-tool-tip class="w-full" (buttonAction)="handleToolTipClicked($event)" [data]="toolTipContent"></app-tool-tip>
          </div>
        </ng-container>
      }
    </div>

    
   
    <ng-template #lastLooks>
      <div *ngIf="this.pdf.finalDocReady">
        <!-- Inputs passed to trigger changes in our lastlooks to handle edit state -->
        <app-last-looks 
        [resetDocState]="resetFinalDocState" 
        [editState]="editLastLooksState" 
        [undoState]="fireUndo"
        [selectedLineState]="false"
        (onPageUpdate) = "onPageUpdate($event)"
        ></app-last-looks>
      </div>
    </ng-template>
  </div>
  
   
</div>



  




