



  <!-- <article class="flex flex-col h-50 gap-4 rounded-md px-20 py-20 md:p-20 gap-20">
    <div class="relative">
        <div class="rounded-md px-4 py-4.5">
          <h3 class="text-3xl font-semibold">    {{ title }} </h3>
        </div>
      <img src="{{ imagePath }}" alt="" class="inline-block h-15 w-25 rounded-md object-cover" />

      </div>
    <div class="flex w-full flex-col gap-5">
      <p class="font-bold text-lg" [innerHTML] = "content"></p>

      <div class="h-px w-full bg-black"></div>
      <div class="flex items-center">
      </div>
    </div>
</article> -->


    
    <!-- <div class="about-item-container">
        <div class="about-item-image-container">
            <img src="https://sides-ways.com/flat-bot.1c9f40e20a4e00e1.PNG" />
        </div>
        <div class="about-item-body">
            <h3 class="about-item-header">
                {{ title }}
            </h3>
            <p class="about-item-text">
                {{ content }}
            </p>
            <a>learn more</a>
        </div>
    </div> -->
