<ng-container *ngIf="dialogOption == 'scan'">
  <div class="dialog-content flex flex-col justify-center items-center h-full text-center">
    <div class="bg-white h-[50vh] w-[50vh] shadow-lg rounded-lg flex flex-col justify-center items-center">
      <h3 class="title text-base md:text-lg lg:text-xl font-bold mb-4">Processing: <em>{{ this.title }}</em></h3>
      <div class="animation-container flex flex-col items-center">
        <img src="../../assets/animations/ScriptBot_Animation-BW.gif" alt="Loading Animation" class="w-1/2" />
        <div class="message mt-4">
          <p class="text-sm md:text-base lg:text-lg">Sit Tight.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="dialogOption == 'payment'">
  <div class="dialog-content  h-full flex flex-col justify-center items-center text-center">
    <div class="bg-white h-[50vh] w-[50vh] shadow-lg rounded-lg flex flex-col justify-center items-center">
      <h3 class="title text-base md:text-lg lg:text-xl font-bold mb-4">Processing PDF <em>{{ this.title }}</em></h3>
      <div *ngFor="let scene of data.selected">
        <p class="text-sm md:text-base lg:text-lg font-bold mb-2">
          {{ scene.text }}
        </p>
      </div>
      <div class="animation-container flex flex-col items-center mt-4">
        <img src="../../assets/animations/ScriptBot_Animation-BW.gif" alt="Loading Animation" class="w-1/2" />
        <div class="message mt-4">
          <p class="text-sm md:text-base lg:text-lg">Routing to Payment</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="dialogOption == 'error'">
  <div class="dialog-content flex flex-col justify-center items-center h-full text-center">
    <div class="w-[50vh] h-[75vh] bg-white rounded-lg shadow-lg">
      <h3 class="title text-base md:text-lg lg:text-xl font-bold mb-4">Error Occurred:</h3>
      <div class="message mb-4">
        <p class="text-sm md:text-base lg:text-lg">{{ this.error.message || "please try again" }} </p>
      </div>
      <div class="animation-container flex flex-col items-center">
        <img src="assets/icons/vectors/full-body-bot.png" height=100 alt="Spinning Bot" class="spinning-bot">
        
        <div class="message mt-4">
          <p class="text-sm md:text-base lg:text-lg">Please try again.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

