<main class="last-looks-container">

    <div class="page" (click)="showContextMenu && closeContextMenu()">
        <div class="break">
            <ul class="screenbox">
                <div class="selected-line-info" style="color:black">
                    {{ selectedLine?.calculatedYpos }} {{ this.selectedLine?.text}}
                </div>
                <ng-container *ngFor="let line of page; let lineIndex = index">

                    <span class="watermark">{{line.watermarkText}}</span>

                    <!-- page number span -->
                    <span class="draft-color-text true"
                        (click)="toggleSelectedLine($event, line, lineIndex); selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">{{line.draftColorText}}</span>
                    <span class="page-number-text" [class.visible]="line.visible"
                        (click)="toggleSelectedLine($event, line, lineIndex); selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">
                        {{line.pageNumberText}} </span>

                    <!-- scene number span -->
                    <span [class]="'scene-number-left ' + line.trueScene + ' ' + line.visible" (click)="toggleSelectedLine($event, line, lineIndex);
               selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.left]="line.calculatedXpos">
                        {{ line.sceneNumber }}
                    </span>

                    <!-- start span -->
                    <span
                        (mouseup)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? dragDrop.stopDrag(line) : null"
                        [class]="(line.bar ? line.bar : 'hideBar')"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span">START {{ line.sceneNumber }} </span>
                    </span>

                    <!-- LINE SPAN -->
                    <li contenteditable="true" 
                    tabindex="0" 
                    [value]="lineIndex" 
                    [class]="line.category + ' ' + line.visible + ' ' + line.hidden" 
                    [style.bottom]="line.calculatedYpos"
                    [style.left]="line.calculatedXpos" 
                    (contextmenu)="selectedLine && selectedFunction === 'changeType' && openContextMenu($event, line)"
                    (mousedown)="handleLeftClick($event, line, lineIndex)"
                    (mousemove)="dragDrop.drag($event)" 
                    (mouseup)="dragDrop.stopDrag($event)"
                    [class.selected]="isSelectedLine(line, lineIndex)" 
                    [ngClass]="{ 'grab-cursor': draggingLine }"
                    (mousemove)="dragDrop.drag($event)"     
                        >
                        {{ line.text }} {{line.calculatedYpos}}
                        
                    </li>

                    <!-- revision asterisks -->
                    <span [class]="line.isRevision + ' hidden'" [style.bottom]="line.calculatedYpos">
                        *
                    </span>

                    <!-- continue spans -->
                    <span
                        
                        [class]="(line.cont ? line.cont : 'hideCont') + ' ' + line.hidden"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span"> ↓↓{{line.sceneNumberText}} CONTINUED↓↓↓</span>
                    </span>

                    <!-- end span -->
                    <span 
                    (click) = "toggleSelectedLine($event, line, lineIndex)" 
                    [class]="line.end + ' ' + line.hideEnd" [style.bottom]="line.calculatedEnd">
                        <span class="end-span"> END {{line.sceneNumberText}} </span>
                    </span>

                    <!-- right scene number span -->
                    <span class="scene-number-right {{ line.trueScene }} {{ line.visible }}"
                        (click)="toggleSelectedLine($event, line, lineIndex)"
                        [style.bottom]="line.calculatedYpos" [style.right]="line.calculatedXPos">
                        {{ line.sceneNumber }}
                    </span>
                </ng-container>
                <div *ngIf="showContextMenu" class="context-menu" [style.left.px]="contextMenuX"
                    [style.top.px]="contextMenuY">
                    <ul>
                        <li *ngFor="let choice of classificationChoices" (click)="changeType(choice)"
                            class="classification-option">
                            {{ choice }}
                        </li>
                        <li (click)="changeType('hidden')" class="classification-option">delete</li>
                    </ul>
                </div>
            </ul>
            <li class=footer>made by Sides-Ways</li>
        </div>
    </div>
</main>