<main class="last-looks-container">

    <div class="page">
        <div class="break">
            <ul class="screenbox">
                <div class="selected-line-info" style="color:black">
                    <h2>currentFunction {{selectedFunction}}</h2>
                </div>
                <ng-container *ngFor="let line of page; let lineIndex = index">


                    <span class="watermark">{{line.watermarkText}}</span>

                    <!-- page number span -->
                    <span class="draft-color-text true"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">{{line.draftColorText}}</span>
                    <span class="page-number-text" [class.visible]="line.visible"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">
                        {{line.pageNumberText}} </span>

                    <!-- scene number span -->
                    <span [class]="'scene-number-left ' + line.trueScene + ' ' + line.visible"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.left]="line.calculatedXpos">
                        {{ line.sceneNumber }}
                    </span>

                    <!-- start span -->

                    <span (mousedown)="selectedFunction === 'adjustY' ? startDrag($event, line, lineIndex) : null"
                        (mousemove)="selectedFunction === 'adjustY' ? drag($event) : null"
                        (mouseup)="selectedFunction === 'adjustY' ? stopDrag(line) : null"
                        [class]="(line.bar ? line.bar : 'hideBar') + ' ' + line.hidden"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span">START {{ line.sceneNumber }}</span>
                    </span>
                    <!-- LINE SPAN -->
                    <li [class]="line.category + ' ' + line.visible + ' ' + + line.hidden"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.left]="line.calculatedXpos"
                        (mousedown)="startDrag($event, line, lineIndex)" (mousemove)="drag($event)"
                        (mouseup)="stopDrag(line)">


                        {{ line.text }} {{line.calculatedYpos}}
                    </li>

                    <!-- revision asterisks -->
                    <span [class]="line.isRevision + ' hidden'" [style.bottom]="line.calculatedYpos">
                        *
                    </span>

                    <!-- continue spans -->
                    <span (mousedown)="selectedFunction === 'adjustY' ? startDrag($event, line, lineIndex) : null"
                        (mousemove)="selectedFunction === 'adjustY' ? drag($event) : null"
                        (mouseup)="selectedFunction === 'adjustY' ? stopDrag(line) : null"
                        [class]="(line.bar ? line.bar : 'hideBar') + ' ' + line.hidden"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span">START {{ line.sceneNumber }}</span>
                    </span>

                    <!-- end span -->
                    <span [class]="line.end + ' ' + line.hideEnd" [style.bottom]="line.calculatedEnd">
                        <span class="end-span"> END {{line.sceneNumberText}}</span>
                    </span>

                    <!-- right scene number span -->
                    <span class="scene-number-right {{ line.trueScene }} {{ line.visible }} {{line.hideCont}}"
                        (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.right]="line.calculatedXPos">
                        {{ line.sceneNumber }}
                    </span>

                </ng-container>


            </ul>

            <li class=footer>made by Sides-Ways</li>
        </div>
    </div>
</main>