<main class="last-looks-container">

    <div class="page" (click)="showContextMenu && closeContextMenu()">
        <div class="break">
            <ul class="screenbox">
                <div class="selected-line-info" style="color:black">
                    <h2>currentFunction {{selectedFunction}}  {{initialMouseY}}</h2>
                </div>
                <ng-container *ngFor="let line of page; let lineIndex = index">

                    <span class="watermark">{{line.watermarkText}}</span>

                    <!-- page number span -->
                    <span class="draft-color-text true"
                        (click)="toggleSelectedLine($event, line, lineIndex); selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">{{line.draftColorText}}</span>
                    <span class="page-number-text" [class.visible]="line.visible"
                        (click)="toggleSelectedLine($event, line, lineIndex); selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null">
                        {{line.pageNumberText}} </span>

                    <!-- scene number span -->
                    <span [class]="'scene-number-left ' + line.trueScene + ' ' + line.visible" (click)="toggleSelectedLine($event, line, lineIndex);
               selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.left]="line.calculatedXpos">
                        {{ line.sceneNumber }}
                    </span>

                    <!-- start span -->
                    <span
                        (mousedown)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? startDrag($event, line) : null"
                        (mousemove)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? drag($event) : null"
                        (mouseup)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? stopDrag(line) : null"
                        [class]="(line.bar ? line.bar : 'hideBar') + ' ' + line.hidden"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span">START {{ line.sceneNumber }} {{line.calculatedXpos}}</span>
                    </span>

                    <!-- LINE SPAN -->
                    <li [value]="lineIndex" [class]="line.category + ' ' + line.visible + ' ' + line.hidden" (click)="selectedFunction === 'toggleVisibility' ? toggleVisibility(line) :
                toggleSelectedLine($event,line, lineIndex)" [style.bottom]="line.calculatedYpos"
                        [style.left]="line.calculatedXpos" (contextmenu)="selectedLine && openContextMenu($event, line)"
                        (click)="startDrag($event, line)"
                        (mousemove)="isSelectedLine(line, lineIndex) && drag($event)" 
                        (mouseup)="stopDrag(line)"
                        [class.selected]="isSelectedLine(line, lineIndex)" (keydown)="handleKeydown($event, line)">
                        {{ line.text }} {{line.calculatedYpos}}
                        
                    </li>

                    <!-- revision asterisks -->
                    <span [class]="line.isRevision + ' hidden'" [style.bottom]="line.calculatedYpos">
                        *
                    </span>

                    <!-- continue spans -->
                    <span
                        (mousedown)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? startDrag($event, line) : null"
                        (mousedown)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? startDrag($event, line) : null"
                        (mouseup)="selectedFunction === 'adjustY' && isSelectedLine(line, lineIndex) ? stopDrag(line) : null"
                        [class]="(line.bar ? line.bar : 'hideBar') + ' ' + line.hidden"
                        [style.bottom]="line.calculatedYpos">
                        <span class="start-span">START {{ line.sceneNumber }}</span>
                    </span>

                    <!-- end span -->
                    <span [class]="line.end + ' ' + line.hideEnd" [style.bottom]="line.calculatedEnd">
                        <span class="end-span"> END {{line.sceneNumberText}} {{line.calculatedXpos}}</span>
                    </span>

                    <!-- right scene number span -->
                    <span class="scene-number-right {{ line.trueScene }} {{ line.visible }} {{line.hideCont}}"
                        (click)="toggleSelectedLine($event, line, lineIndex); selectedFunction === 'toggleVisibility' ? toggleVisibility(line) : null"
                        [style.bottom]="line.calculatedYpos" [style.right]="line.calculatedXPos">
                        {{ line.sceneNumber }}
                    </span>
                </ng-container>
                <div *ngIf="showContextMenu" class="context-menu" [style.left.px]="contextMenuX"
                    [style.top.px]="contextMenuY">
                    <ul>
                        <li *ngFor="let choice of classificationChoices" (click)="changeType(choice)"
                            class="classification-option">
                            {{ choice }}
                        </li>
                    </ul>
                </div>
            </ul>

            <li class=footer>made by Sides-Ways</li>
        </div>
    </div>
</main>