.modal{
  justify-content: center;
  display: grid;
  background-color: #dfdfdf;
}
.selections-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
    justify-items:center;
}
.button-wrapper{
  border:2px solid green;
  padding:10px;

}

.icon{
  max-height: 300px;
  max-width: 300px;
  height: 200px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}
.layout-button{
  

  padding:5%
}
.layout-button:hover{
  filter: hue-rotate(180deg); 
}
.close-button{
  margin: 0 auto;
  padding:2%;
}