<div class="modal">
  <h1>Select a layout</h1>
  <h1 *ngIf='selectionMade'>you picked {{selected}}</h1>
  <div *ngIf="!selectionMade" class="selections-container">
    <div class=button-wrapper>
      <div class="icon" style= "background-image:url(../../assets/vert.png)"></div>
    <button class="layout-button" id="standard" (click) = "selectOption($event.target.id)">Standard</button>
  </div>
  <div class=button-wrapper>
    <div class="icon" style= "background-image:url(../../assets/horiz.png)"></div>
    <button class="layout-button" id="landscape"  (click) = "selectOption($event.target.id)"> Landscape</button>
  </div>
</div>
<div class="" *ngIf="selectionMade">
  <h1>Add a call sheet?</h1>
   <form  #callSheet name="callSheet" id="callSheet"> 
  <input enctype="multipart/form-data" type="file" (change)="handleFileInput($event.target.files)" >
 
</form>
</div>
<div *ngIf="docUploaded">
  <iframe src="{{file}}">

  </iframe>
</div>
<button class="close-button" (click)="addCallSheet()">Get my sides!</button>
<button class="close-button" (click)="dialogRef.close({selected:this.selected})">Nah, just get my sides</button>
</div>