<!-- this whole component is deprecated -->
<div class="modal red">
  <div *ngIf='!waitingForScript && selectionMade && !awaitingData'>
    <h1>
     Layout: {{this.selected}}
    </h1>
    <ul>
      <h1>Scenes:</h1>
      <li *ngFor="let text of data.selected" style="list-style-type:none;">{{text.text}}</li>
    </ul>
  </div>

  <div *ngIf=" !waitingForScript && !selectionMade && !awaitingData">
    <div>
      <h1>Select a layout</h1>
    </div>
    <div  class="selections-container"> 
      <div class=button-wrapper>
        <div class="icon" style="background-image:url(../../assets/vert.png)"></div>
        <h2>Single Copy</h2>
        <button class="layout-button" id="standard" (click)="selectOption($event.target.id)">Standard</button>
      </div>
      <div class=button-wrapper>
      <div class="icon" style="background-image:url(../../assets/horiz.png)"></div>
      <h2>Double Copy</h2>
      <button class="layout-button" id="landscape" (click)="selectOption($event.target.id)"> Landscape</button>
    </div>
  </div>
</div>
  <div class="" *ngIf=" !waitingForScript && !awaitingData && selectionMade && !callsheetReady ">
    <h1>Add a call sheet.</h1>
    <form #callSheet name="callSheet" id="callSheet">
      <input enctype="multipart/form-data" type="file" (change)="handleFileInput($event.target.files)">
      <!-- <button (click)="handleFileInput('no callsheet')">No callsheet</button> -->
    </form>
  </div>

  <div *ngIf=" !waitingForScript && !awaitingData && selectionMade && callsheetReady" class="button-wrapper">

    <button class="close-button" (click)="dialogRef.close({selected:this.selected, callsheet:this.callsheet})">Get My
      Sides</button>
  </div>
  <div *ngIf="waitingForScript" >
    <h1>BRB</h1>
    <mat-progress-spinner style="display:none" mode="indeterminate" value="0"></mat-progress-spinner>
  <h3 class="spinner-text">Processing Script</h3>
  <div class="loading-image">
    <img class = "spinning-bot"src="../../assets/icons//robotWhite.png">
  </div>

    <h2>Getting Sides</h2>


</div>
<div *ngIf="awaitingData && selectionMade" >
  Processing Call sheet
  <mat-progress-spinner mode="indeterminate" value="500"></mat-progress-spinner>
</div>
</div>