.selections-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightcoral;

}
.layout-button{
    max-width:200px;
}
.app {
    height:100vh;
    display: grid;
    grid-area: 
    "nav"
    "body"
    "footer";
    overflow-x: hidden;
}
.full-nav {
    height: 100%;
}

