<div class="modal red">
    <div>
        <h2>Add a call sheet?</h2>
        <form #callSheet name="callSheet" id="callSheet">
            <input type="file" hidden="true" #uploadButton enctype="multipart/form-data" accept="application/pdf"
                (change)="handleFileInput($event.target.files)">
            <button *ngIf="!callsheet" mat-raised-button color="warn" (click)="uploadButton.click()">Upload</button>
            <button *ngIf="callsheet" mat-raised-button color="warn" (click)="resetCallsheet()">Remove
                Callsheet</button>
            <!-- <button (click)="handleFileInput('no callsheet')">No callsheet</button> -->
        </form>
        
    </div>
</div>
