.side-admin-container {
  overflow: scroll;
}

.not-handled {
  background-color: red !important;
}

.ticket {
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius:5px;
  width:405px;
  justify-content: space-evenly;
  background-color: green;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-mdc-card {
  cursor: pointer;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.mat-mdc-card-title {
  font-size: 20px;
  font-weight: bold;
}
.mat-mdc-card-header {
  padding-bottom: 0;
}

.mat-mdc-card-content {
  font-size: 16px;
  padding-top: 0;

}

.mat-mdc-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mat-mdc-card-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.mat-mdc-card-actions button:hover {
  background-color: #0069d9;
}

