<!-- <div class="form-group black-card">
  <h3> Title: {{ this.title }} {{ date | date: "short" }} </h3>
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="center-flex feedback-container">
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select name="category" id="category" required [(ngModel)]="currentTicket.category" *ngIf="categories && categories.length > 0">
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="text">Description</mat-label>
        <textarea
          matInput
          type="text"
          required
          id="text"
          [(ngModel)]="currentTicket.text"
          placeholder="Describe any issues"
          name="text"
        > </textarea>
      </mat-form-field>

    </div>
    <button mat-raised-button color="warn" type="submit" [disabled]="feedbackForm.form.pristine || !feedbackForm.valid">Submit</button>
  </form>
</div> -->
