<div *ngIf="working" class="spinner-overlay center">
  <mat-card-content>
    <mat-progress-spinner style="display: none" mode="indeterminate" value="0"></mat-progress-spinner>
    <h3 class="spinner-text">Processing Script</h3>
    <div class="loading-image">
      <img class="spinner" src="../../assets/animations/ScriptBot_Animation.gif" />
    </div>
    <h3 class="spinner-text">Sit Tight.</h3>
  </mat-card-content>
</div>
<div class="form-group two-column left black">
  <div class="left-cell">
        <div>
          <div class="typewriter">
            <h1 class="display-2">
              <strong >Welcome To 
                Sides-Ways</strong>
            </h1>
          </div>
          <div>

          </div>
          <div class="typewriter ">
            <h2 class="delay-3">
              Free Open Beta
            </h2>
          </div>
          <div class="typewriter">
            <h2 class="delay-4">
              We Make Sides
         
            </h2>
          </div>
          <button mat-raised-button color = "primary" class="delay-6  reveal" routerLink="../About">Learn More</button>
        </div>
      </div>





  <div class="center right-cell reveal">
    <mat-card class="upload-card">
      <mat-card-header>
        <div>
          <img class="card-image" src="../../assets/icons/logoFlatWhite.png" />
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="feature-block">
          <h3 class="feature-headline">Upload your script <br>
            We'll prep your sides</h3>
          <p>For best results, use PDF scripts made with Final draft, Studio Binder, or Celtx.
          </p>
          <div class="warning-text">
            <p>
              <strong>
               Scripts should be unencrypted PRODUCTION SCRIPTS (must have a cover page & scene numbers). PDFS should be formatted to industry standard before you even GET here. 
                <br>
                We make sides, not scripts*.
              </strong>
            </p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
    
        <button type="button" mat-raised-button color ="warn" (click)="fileInput.click()">Upload Script PDF</button>
<input hidden (change)="handleFileInput($event.target.files)"#fileInput type="file" id="file" accept="application/pdf">
      </mat-card-actions>
      <div class="footnote">
        <p>*or screenwriters.</p>
      </div>
    </mat-card>
  </div>
