p {
 font-size:12px
}
.arrow{
    padding-left:1%;
}

.body{margin-left: 10%; margin-right: 10%; top:2%; bottom: 2%}
.big-text{
    font-size: 3.5em;
    font-weight: bold;
}
.feature-block:nth-of-type(2){
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white)
}
.developer-tools{
   
    padding-top: 5%;
}
.learn-more{
    font-size:1.4em
}
.learn-more-box {
    padding-top:15px;
}
.small-border{
    border-top: 2px solid var(--white);
    margin-top: 6%;
    margin-bottom: 1%;
    width:15%

} 
.details{
    padding-top:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr
}
h4{
    font:36px;
}
.footnote{
    text-align: right;
    font-size: .45em; 
}
.left-cell{
    display:grid;
    grid-template-areas: 
    "big big "
    "b c d"
    "b c d";
    padding-top: 15px;
    padding-left: 15%;
    width: 80%;
    height:500px;
    margin: 0 auto;
}
.right-cell{
    /* padding-top:5%; */
    padding-right:15%;
    display:flex;
    height: 550px;
}
.text-area{
    width: 85%;
}
.upload-headline{
    padding-bottom: 25px;
    height: auto;
}
.mobil-headling{
    display:none;
}
.upload-description{
    width:95%;
    font-size:1.1em
}
.mat-card-header {
    justify-content: space-around;
}
.feature-headline{
    font-size:1.7em;
    padding-top:2%;
}
.upload-description h4{
  margin:0 0 0 0
}
.upload-card{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1% !important;
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 15px 15px 15px 15px !important;
}
.two-column{
    display:grid;
    max-height:95vh;
    height:75vh;
    grid-template-columns:1fr 1fr ;
    padding:2% 3%;
    
}
.feature-block{
    padding-right: 5%;
    padding-left: 5%;
}
.card-image{
    height:200px;
    margin-left: -5%
}
.loading-image{
    width:auto;
    height:auto;
    margin: 0 auto;
}
.warning-box{
    background-color: #c2185a;

    text-align: center;
    margin: 0 auto;
}
label.uploadButton input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.uploadButton {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
.uploadButton:hover {
    background: #CCC;
}
.uploadButton:active {
    background: #CCF;
}
.uploadButton :invalid + span {
    color: #A44;
}
.uploadButton :valid + span {
    color: #4A4;
}
.spinner-text{

    margin: 0 auto;
    color:var(--white);
    font-size:2.4em
}
.warning-text{
    background-color: var(--red);
    color:var(--white);
    padding:10px;
    border-radius:20px
}
.mobile-images{
    display:none;
}


@media only screen and (max-width: 769px){ 
    .spinner-overlay{
        width:50px;
        height:50px
    }
    .two-column{
        grid-template-columns: 1fr;
    }
    .upload-description{
        display:none;
    }
    .mat-card{
        width:85%;
    }
    .upload-headline, .learn-more, .developer-tools{
        display:none;
    }
    .mobile-headline{
        display:flex;
        font-weight:bolder
    }
    .mobile-h1{
        line-height: normal;
        font-size:50px;
    }
    .left-cell{
        width:100%;
        padding-top:0%;
        padding-left:15%
    }.right-cell{
        padding:0%
    }
    .spinner{
        height:250px;
        width:250px
    }
    .spinner-overlay{
        height:auto;
        width:auto;
        top:30%;
        left:10%
    }
 
}
