<div class="form-group center">
  <div>
    <h3>Our AI saves your crew's time.</h3>

    <h4>Give us a script - we'll give you your scenes.</h4>
    <h4>We crawl your script and line out all the stuff you dont need so your PA's and AD's can get to real work</h4>
    <h4>All for a buck.</h4>
  </div>
  <div class="three-column center">

    <h4>Your script is SAFE with us.</h4>
    <h4>Our software NEVER saves your pages</h4>
    <h4>We're backed by <a style="color:red" href="https://www.heroku.com/policy/security">Heroku</a> your script is in
      good hands</h4>
  </div>
  <div class='center'>
    <label for="file">Upload your script</label>
    <div>
      <input name="script" enctype="multipart/form-data" type="file" id="script"
        (change)="handleFileInput($event.target.files)">
    </div>
  </div>
</div>
<div>
</div>
