<div class="form-group two-column left black">
  <div class="left-cell reveal">

    <div>
      <div>
        <h1 class="mat-headline-3">
          <strong>Welcome To Sides-Ways</strong>
        </h1>
      </div>
      <!-- <button mat-raised-button color = "primary" class="delay-6 learn-more-button reveal" routerLink="../About">Learn More</button> -->
      <div class="white-card shadow">
        <div>
          <h2>
            <strong>We proudly stand with the WGA</strong>
          </h2>
        </div>
        <div>
          <h3><strong>Production starts with writers</strong></h3>
        </div>
        <div>
          <h3>
            <strong>
              AI should should help artists. <br>Not replace them.
            </strong>
          </h3>
        </div>
      </div>
      <!-- <div class="typewriter ">
              <h2 class="delay-3 mat-headline-4">
                Free Open Beta
              </h2>
            </div>
            <div class="typewriter">
              <h2 class="delay-4 mat-headline-4">
                We Make Sides
              </h2>
            </div> -->
    </div>
    <div></div>
  </div>
    <div class="center right-cell reveal">
      <mat-card appearance="outlined" class="upload-card shadow">
        <mat-card-header>
          <div>
            <img class="card-image" [src]="this.logo" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="feature-block">
            <h3 class="feature-headline">Upload your script <br>
              We'll prep your sides</h3>
            <p>For best results, use PDF scripts made with Final draft or Celtx.
            </p>
            <div class="warning-text">
              <p>
                <strong>
                  For best results, please use unencrypted Production Scripts with proper scene-headers, scene numbers,
                  and a title page without a topsheet (we'll handle that laater)
  
                  <br>
                  PDF scripts should be formatted to industry standard before you even get here.
                  <br>
                  We make sides, not scripts*.
                </strong>
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" mat-raised-button color="warn" (click)="fileInput.click()">Upload Script PDF</button>
          <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" id="file"
            accept="application/pdf">
        </mat-card-actions>
        <div class="footnote">
          <p>*or screenwriters.</p>
        </div>
      </mat-card>
    </div>
  </div>