
<section class="pb-20 text-white bg-secondary w-full flex flex-col items-center">
  <!-- Container -->
  <div class="w-full max-w-7xl px-5  py-20 justify-items-stretch md:px-10 ">
    <!-- Heading Div -->
    <div class="mx-auto w-full max-w-3xl">
      <!-- Component -->
      <div class="text-center">

        <h2 class="text-3xl font-semibold md:text-5xl border-b-2 border-white pb-2">Stop Making Sides  <span class="bg-cover bg-accent text-white px-2">by Hand</span>
        </h2>
        <div class="mx-auto mb-8 mt-4 max-w-[610px] md:mb-12 lg:mb-16">
          <p class="text-lg font-semibold px-4">Save your production time and money with 3 easy steps</p>
        </div>
      </div>
    </div>
    <!-- How it Works Div -->
    <div class="mx-auto w-full grid grid-cols-1 gap-4 sm:justify-items-stretch md:grid-cols-3 bg-primary rounded-xl px-20 lg:gap-8">
      <!-- How it Works Item -->
      <div class="relative flex flex-col items-center gap-4 p-8 text-center">
        <div class="mb-5 flex max-w-[400px] flex-col items-center justify-center rounded-xl border border-solid border-black bg-white px-8 py-5 [box-shadow:rgb(0,_0,_0)_4px_4px] md:mb-6 lg:mb-8">
          <img class="text-xl font-bold" src="assets/icons/bot-about-images/scan-bot.jpg" />
        </div>
        <p class="mb-2 text-3xl font-semibold border-l-2 border-r-2 border-white px-1">{{titles[0]}}</p>
        <p class="text-base font-bold [#636262] text-left" [innerHTML]="content[0]"></p>
        <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/639833af1925275b6f0b43e1_Vector%2032.svg" alt="" class="absolute bottom-[-33%] left-0 right-auto top-auto -z-10 hidden w-96 md:bottom-auto md:left-[136px] md:right-[-50%] md:top-[18%] md:inline-block lg:left-auto" />
      </div>
      <!-- How it Works Item -->
      <div class="relative flex flex-col items-center gap-4 p-8 text-center">
        <div class="mb-5 flex max-w-[400px] flex-col items-center justify-center rounded-xl border border-solid border-black bg-white px-8 py-5 [box-shadow:rgb(0,_0,_0)_4px_4px] md:mb-6 lg:mb-8">
          <img class="text-xl font-bold" src="assets/icons/bot-about-images/select-bot.jpg" />
        </div>
        <p class="mb-2 text-3xl font-semibold border-l-2 border-r-2 border-white px-1">{{titles[1]}}</p>
        <p class="text-base font-bold text-left" [innerHTML]="content[1]"></p>
        <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/639834731925279c5e0b4ee5_Vector%2033.svg" alt="" class="absolute bottom-[-33%] left-0 right-auto top-auto -z-10 hidden w-96 md:bottom-auto md:left-[136px] md:right-[-50%] md:top-[8%] md:inline-block lg:left-auto" />
      </div>
      <!-- How it Works Item -->
      <div class="relative flex flex-col items-center gap-4 p-8 text-center">
        <div class="mb-5 flex max-w-[400px] flex-col items-center justify-center rounded-xl border border-solid border-black bg-white px-8 py-5 [box-shadow:rgb(0,_0,_0)_4px_4px] md:mb-6 lg:mb-8">
          <img class="text-xl font-bold" src="assets/icons/bot-about-images/happy-bot.jpg" />
        </div>
        <p class="mb-2 text-3xl font-semibold border-l-2 border-r-2 border-white px-1">{{titles[2]}}</p>
        <p class="text-base font-bold text-left" [innerHTML]="content[2]"></p>
      </div>
    </div>
  </div>
</section>