
.main{
    height: 100vh;
    grid-template-rows: 300px;
    text-align: center;
    /* background: var(--white); */
    /* text-shadow: 1px 1px black; */
    overflow: auto;
    
}
.white-logo{
    background-image: url("../../assets/icons/logoFlatWhite.png");
    background-size: contain;
    background-repeat:no-repeat;

    margin:0 auto;
    height:250px;
    width:250px;
}

@media screen and (max-width: 768px) {
    .white-logo{
        display:none
    }
}


