
.main{
    height: 100vh;
    grid-template-rows: 300px;
    text-align: center;
   
   
    color: var(--white);
    background: var(--red);
    /* text-shadow: 1px 1px black; */
    overflow: auto;
    
}
.white-logo{
    background-image: url("../../assets/icons/logoFlatWhite.png");
    background-size: contain;
    background-repeat:no-repeat;

    margin:0 auto;
    height:250px;
    width:250px;
}


