@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@include mat.core();

$my-white: #ffffff; // Define white color
$my-light-gray: #f0f0f0; 
$my-blue: mat.define-palette(mat.$blue-palette);
$my-red: mat.define-palette(mat.$red-palette);

$my-custom-theme: mat.define-light-theme((
    color: (
        primary: $my-blue,
        accent: $my-red,
        warn: $my-red
    ),
    density: 0,
));

body {
    @include mat.all-component-themes($my-custom-theme);
    @include mat.core-theme($my-custom-theme);
    @include mat.button-theme($my-custom-theme);
}