// Define the colors as variables
$primary-color: #007bff; // Soft Blue
$accent-color: #20c997; // Vibrant Teal
$warn-color: #fc130f;// Moderate Red
$background-color: #f8f9fa; // Light Gray
$text-color: #343a40; // Dark Gray
$off-white: #f9f9f9; // Off-White
$light-gray: #d3d3d3; // Light Gray for tables

@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@include mat.elevation-classes();
@include mat.app-background();

// Define custom palette for accent color
$custom-teal: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #20c997,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: white,
  )
);

$my-primary-color: mat.m2-define-palette(mat.$m2-blue-palette, 500);
$my-accent-color: mat.m2-define-palette($custom-teal, 500);
$my-warn-color: mat.m2-define-palette(mat.$m2-red-palette, 600);

$my-custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary-color,
    accent: $my-accent-color,
    warn: $my-warn-color,
  ),
  typography: (
    fontFamily: 'Roboto, sans-serif',
    allVariants: (
      color: $text-color,
    ),
    h1: (
      fontSize: 3rem,
    ),
    h2: (
      fontSize: 2.25rem,
    ),
    h3: (
      fontSize: 1.875rem,
    ),
    h4: (
      fontSize: 1.5rem,
    ),
    body1: (
      fontSize: 1rem,
    ),
    body2: (
      fontSize: 0.875rem,
    ),
  ),
  background: (
    default: $background-color,
    appBar: mat.m2-get-color-from-palette($my-primary-color, 700),
    card: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 50),
    dialog: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 50),
    hover: mat.m2-get-color-from-palette($my-primary-color, 100),
  ),
  density: 0,
));

@include mat.all-component-themes($my-custom-theme);
@include mat.elevation-classes();
@include mat.app-background();
@include mat.button-theme($my-custom-theme);

body {
  background-color: white; 
  color: $text-color; // Set text color to dark gray
  font-family: 'Roboto', sans-serif; // Set font family
}

// Apply light gray color to table
.mat-table {
  background-color: $light-gray;
}
