<div class = "image-container">

  <div class="title">
    <h1 class="mat-headline-3 title reveal title">
      <strong>Welcome To Sides-Ways</strong>
    </h1>
  </div>
  <div class="form-group two-column left black">
    <div class="left-cell reveal">
      <div class="left-container">
        <!-- <button mat-raised-button color = "primary" class="delay-6 learn-more-button reveal" routerLink="../About">Learn More</button> -->
        <mat-card class="upload-card white-card shadow">
          <div>
            <h2 class="mb-6  text-2xl font-bold">
              Secure, Set-Ready Sides in Minutes.
              <br>
              No subscriptions to worry about.  
              <br>
              Nothing to sign up for.   
            </h2>
          </div>
        </mat-card>
        <!-- <div class="typewriter ">
              <h2 class="delay-3 mat-headline-4">
                Free Open Beta
              </h2>
            </div>
            <div class="typewriter">
              <h2 class="delay-4 mat-headline-4">
                We Make Sides
              </h2>
            </div> -->
      </div>
      <div></div>
    </div>
    <div class="center right-cell reveal">
      <mat-card appearance="outlined" class="upload-card shadow">
        <mat-card-header>
          <div class="image-container">
            <!-- <img src="../../assets/icons/vectors/flat-bot.PNG" /> -->
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="feature-block">
            <h2>We'll be back soon - stay tuned</h2>
            <p>For best results, use PDF scripts made with Final draft or Celtx.
            </p>
            <div class="warning-text">
              <p>
                <strong>
                  Please use unencrypted Production Scripts with proper scene-headers, scene numbers,
                  and a title page without a topsheet (we'll handle that laater)

                  <br>
                  PDF scripts should be formatted to industry standard before you even get here.
                  <br>
                  We make sides, not scripts*.
                </strong>
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          
          <button type="button" mat-raised-button color="warn" (click)="fileInput.click()">Upload Script PDF</button>
          <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" id="file"
            accept="application/pdf">
        </mat-card-actions>
        <div class="footnote">
          <p>*or screenwriters.</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>