
<footer class="block bg-my-blue text-white">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-4 md:px-10 md:py-24 lg:py-12">
    <!-- Component -->
    
    <!-- <div class="mb-14 mt-16 w-full [border-bottom:1.7px_solid_rgb(0,_0,_0)]"></div> -->
    <div class="flex flex-row text-white items-start justify-between max-[767px]:flex-col max-[479px]:flex-col-reverse md:items-center">
      <div class="max-[991px]:flex-none">
        <p class="text-white max-[479px]:text-sm">© Copyright 2023. All rights reserved.</p>
      </div>
      <div class="max-[991px]: text-center font-semibold max-[991px]:py-1">
        <a href="https://tailspark.co/" class="inline-block py-2 pl-5 font-normal text-whitetransition hover:text-white max-[479px]:px-2.5 lg:pl-12">Made with Florwspark</a>
      </div>
    </div>
  </div>
</footer>
     