.footer-text {
    text-align: right;
    color: black;
    margin: 0;
    font-size:14px
}
.footer-container {
    padding:1%;
    width:90%;
    height:auto;
    display:inline-flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin:0;
   
}
.footer-logo{
    height:35px;
    width:35px;
    background-image: url('../../../../assets/icons/logoFlatWhite.png');
    background-size:contain;
    background-repeat: no-repeat;
    margin-left:  1%;

}